<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="json2Path" value="javascript/json2.js" />
    <add key="commonPath" value="javascript/common.js" />
    <add key="signTagAJsPath" value="javascript/signTagA.js" />
    <add key="signTagSelectJsPath" value="javascript/signTagSelectJs.js" />
    <add key="getDataJsPath" value="javascript/getData.js" />
    <add key="removeElementsPath" value="javascript/removeElements.js" />
    <add key="saveTagJsPath" value="javascript/saveTagJs.js" />
    <add key="exePath" value="D:\\Publish\\DiggerTask.exe" />
    <add key="batPath" value="D:\\BAT\\" />
    <add key="user" value="" />
    <add key="password" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>