<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <log4net>
    <logger name="logerror">
      <level value="ERROR"/>
      <appender-ref ref="ErrorAppender"/>
    </logger>
    <logger name="loginfo">
      <level value="INFO"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\\Log\\LogError\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n异常时间：%d [%t] &lt;BR&gt;%n异常级别：%-5p 
   &lt;BR&gt;%n异 常 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;"/>
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\\Log\\LogInfo\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n日志时间：%d [%t] &lt;BR&gt;%n日志级别：%-5p 
   &lt;BR&gt;%n日 志 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="json2Path" value="D:/DataStory/Digger/Publish/javascript/json2.js"/>
    <add key="commonPath" value="D:/DataStory/Digger/Publish/javascript/common.js"/>
    <add key="signTagAJsPath" value="D:/DataStory/Digger/Publish/javascript/signTagA.js"/>
    <add key="signTagSelectJsPath" value="D:/DataStory/Digger/Publish/javascript/signTagSelectJs.js"/>
    <add key="getDataJsPath" value="D:/DataStory/Digger/Publish/javascript/getData.js"/>
    <add key="removeElementsPath" value="D:/DataStory/Digger/Publish/javascript/removeElements.js"/>
    <add key="saveTagJsPath" value="D:/DataStory/Digger/Publish/javascript/saveTagJs.js"/>
    <add key="hashCodesPath" value=""/>
    <add key="hashCodesCount" value="10000"/>
    <add key="judgeRepeatThreshold" value="30"/>
    <add key="DataSavePath" value="D:\\DataDownload\\"/>
    <add key="maxRepeatTime" value="0"/>
  </appSettings>
</configuration>
